{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}




{% block body %}
<div>

</div>
<div class="example-wrapper">
    <h3>Simple Rest API project</h3>
    <p></p>
    <h4>Its allows with no registration get Api , if you want modify data please register or sign in! </h4>
    <div class="d-grid gap-2 col-6 mx-auto">
    <p></p>
    <p></p>
    <a class="btn btn-outline-secondary btn-lg" href="/api" role="button">Get started..</a>
    </div>
{% endblock %}
